* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #2f4f4f;
	color: white;
}

.content {
	min-height: 100%;
	margin: 0 auto -5em;
}

footer {
	height: 5em;
}

p {
	padding-left: 7em;
	margin: 0;
}

ul {
	list-style-type: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.section {
	padding-left: 7em;
	display: none;
}

h1 {
	font-size: 45px;
}

#name {
	margin-top: 10em;
	padding: 0em 0em 2.5em 7em;
}

#jobs {
	letter-spacing: 0.25em;
	padding-left: 7em;
}

.strike {
	text-decoration: line-through;
}

a {
	color: inherit;
}

a:hover {
	color: #fddbd1;
}

a:active {
	color: #fddbd1;
}

a:visited{
	color: #fddbd1;
}

.tab {
	display: none;
}

.tab.active{
	display: block;
}
/*.selector:hover {
	color: #fddbd1;
	font-size: 45px;
}*/

/*.slides .slide-hidden {
	transform: translate3d(-20em, 0, 0);
	transition: transform 0.2s;
}

.outer {
	overflow: hidden;
	position: relative;
}

.slides {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.2s;
}*/

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
/* hr styling from http://stackoverflow.com/questions/11577712/hr-tag-in-twitter-bootstrap-not-functioning-correctly *